html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Ruda', sans-serif;
    font-size: 15px;
}

.section-login {
    background: url('/images/Wallpaper_8K_0_7680x4320.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.row-container {
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 20vh;
    /*Chiều cao khung hình nhìn thấy gọi là vh và 20%*/
    padding: 30px;
    -webkit-box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.75);
}

label,
.form-check-label,
h1 {
    color: #fff;
    text-shadow: 2px 2px 10px #000;
}

.emailError,
.passwordError {
    color: rgb(122, 0, 0);
    background-color: rgb(35, 223, 28);
    opacity: 80%;
    margin-top: 1px;
    border-radius: 4px;
}

.section-list-brand {
    margin-top: 100px;
}


/* product-detail */

.product-slider-section {
    margin-top: 30px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .product-slider-section .carousel-inner {
        cursor: crosshair;
        height: 450px;
        border: 1px solid #777;
    }

    .product-slider-section .carousel-indicators {
        overflow-x: hidden;
        overflow-y: auto;
    }

        .product-slider-section .carousel-indicators li {
            border: 2px solid transparent;
            cursor: pointer;
            float: left;
            height: auto;
            margin: 10px 0 12px 0;
            padding: 5px;
            text-align: center;
            text-indent: unset;
            width: 185px;
        }

            .product-slider-section .carousel-indicators li.active {
                border: 2px solid #ddd;
            }

            .product-slider-section .carousel-indicators li .data-slide-image {
                width: 100px;
                margin: 0 auto;
            }

@media screen and (max-width: 767px) {
    .product-names {
        margin-top: 30px;
    }
}

.prices {
    margin: 20px 0;
    font-size: 20px;
}

.old-price {
    color: #777;
    margin-right: 10px;
    text-decoration: line-through;
    padding: 5px;
}

.sale-price {
    background-color: #21a4fd;
    color: #fff;
    padding: 5px;
}

.sale-span {
    background-color: #21a4fd;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    padding: 4px 10px;
    right: -30px;
    text-align: center;
    top: 4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 110px;
}


/* .add-to-cart-btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    background-color: #222;
    padding: 17px 68px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.add-to-cart-btn span {
    position: relative;
    z-index: 1;
}

.add-to-cart-btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background-color: #21a4fd;
    color: #fff;
    -webkit-transform: all 0.5s ease-in-out;
    -moz-transform: all 0.5s ease-in-out;
    -ms-transform: all 0.5s ease-in-out;
    -o-transform: all 0.5s ease-in-out;
    transform: all 0.5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    -moz-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    -ms-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    -o-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.add-to-cart-btn:hover::after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    -moz-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    -ms-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    -o-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
} */
