
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Thêm mới</button></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã cart</th>
                                <th>Mã user</th>
                                <th>Mã sản phẩm</th>
                                <th>Ngày</th>
                                <th>Số lượng</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h4>Cập nhật nhà cung cấp</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Mã user</label>
                        <input type="text" id="User_Id" name="User_Id" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Mã sản phẩm</label>
                        <input type="text" id="Product_Id" name="Product_Id" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>ngày</label>
                        <input type="text" id="Invoice_Date" name="Invoice_Date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>số lượng</label>
                        <input type="text" id="Amount" name="Amount" class="form-control" />
                    </div>

                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnAdd" onclick="return Add();">Thêm</button>
                <button class="btn btn-success" style="display:none;">Cập nhật</button>
                <button class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script>
    function loadData() {
        $.ajax({
            url: "/Cart/ListCart",//"/Admin/Supplier/List" để này ko cũng đc
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var data = '';
                $.each(result, function (key, item) {
                    data += '<tr>';
                    data += '<td>' + item.cart_Id + '</td>';
                    data += '<td>' + item.user_Id + '</td>';
                    data += '<td>' + item.product_Id + '</td>';
                    data += '<td>' + item.invoice_Date + '</td>';
                    data += '<td>' + item.amount + '</td>';
                    data += '<td><a href="#" onclick = "return GetById(' + item.cart_Id + ')">sửa </a> | <a href="#" onclick = "return Delete(' + item.cart_Id + ')">Xóa </a></td>';
                    data += '</tr>'
                });
                $(".tbody").html(data);
            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });
    }
    function Add() {
        //Lấy giá trị trong textbox
        //var today = new Date();
        //var date = today.getDate() + "/" +  (today.getMonth() + 1) + '/'+ today.getFullYear() ;
        var objSup = {
            User_Id: parseInt($("#User_Id").val()),
            Product_Id: parseInt($("#Product_Id").val()),
            Invoice_Date: $('#Invoice_Date').val(),
            Amount: parseInt($("#Amount").val())
        };
        $.ajax({
            url: "/Cart/Create",
            data: JSON.stringify(objSup),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            type: "POST",
            success: function (result) {
                loadData();
                //Ẩn modal
                $("#myModal").modal("hide");
            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });
    }
</script>

