@model VanPhongPhamDTO.Entities.Promotion

@{
    ViewData["Title"] = "Thêm mới chương trình giảm giá";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="container-fluid mb-3 mt-3">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Thêm mới chương trình giảm giá</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Promotion_Name" class="control-label"></label>
                    <input asp-for="Promotion_Name" class="form-control" />
                    <span asp-validation-for="Promotion_Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Images" class="control-label"></label>
                    <div class="mt-2 mb-2">
                        <img id="blah" src="/images/logo.png" alt="your image" height="200" class="d-block mx-auto" />
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" asp-for="ImageFile" accept="image/*" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                        <label class="custom-file-label" for="customFile" id="blah">Chọn ảnh</label>
                    </div>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea class="summernote" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Start_Day" class="control-label"></label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        <input type="text" asp-for="Start_Day" class="form-control datetimepicker-input" data-target="#reservationdate" />
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <span asp-validation-for="Start_Day" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="End_Date" class="control-label"></label>
                    <div class="input-group date" id="reservationdate2" data-target-input="nearest">
                        <input type="text" asp-for="End_Date" class="form-control datetimepicker-input" data-target="#reservationdate2" />
                        <div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <span asp-validation-for="End_Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discount" class="control-label"></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" asp-for="Discount">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Thêm" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
</div>
